.wrapper-template{
    position: relative;
    top: 80px;
    margin: 0 auto;
    width: 70%;
    display: flex;
    flex-direction: column;
}

.separator{
    width: 70%;
}
.header{
    font-size: 2.7em;
    font-family: 'Roboto Condensed', sans-serif;
    margin-bottom: 25px;
}

.a-t-images{
    width: 70%;
    margin-bottom: 1%;
}

.a-t-paragraphs{
    width: 70%;
    font-family: "Microsoft Sans Serif",sans-serif;
    color: #000;
    font-size: 19px;
    line-height: 30px;
}


@media screen and (max-width: 768px) {
    .wrapper-template , .a-t-paragraphs, .a-t-images {
        width: 95%;
    }

 }