*, *::before, *::after {
	box-sizing: border-box;
	margin: 0;
}
body {   
    margin: 0;
    background-color:rgb(249, 246, 246);
	font-family: "FreeSans","Arimo","Droid Sans",Helvetica,Arial,sans-serif;
	display: flex;
	flex-direction: column;
	height: 400vh;
}


.top-right-twitter {
    position: absolute;
	top: 10px;
    z-index: 998;
    color: black;
	font-size: 1.9em;
	margin-left: 5px;
	position: fixed;
}

.top-right-instagram {
    position: absolute;
    top: 10px;
    margin-left: 2.5rem;
    color: black;
    z-index: 998;
	position: fixed;
	font-size: 1.9em;
}

 
.bar-text {
	text-decoration: none;
	color: white;
}

.bar-text:hover {
	color: black;
}
a{
	text-decoration: none;
	color: white;
}

.articles-container {
    text-rendering: optimizespeed;
    font-family: 'FreeSans','Arimo',"Droid Sans",Helvetica,Arial,sans-serif;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
	flex-flow: row wrap;
    -ms-flex-line-pack: start;
    align-content: flex-start;
	position: relative;
	top: 35px;
    margin: 7% auto;
	width: 85%;
	gap: 2rem;
}

.category-bar, .category-bar2, .category-bar3,  .category-bar4,
.category-bar5 {
	width: 100%;
	height: 40px;
	font-size: 1.9em;
	font-weight: 600;
	text-align: left;
	padding: 2px;
    color: white;
	margin: 0;
}

.category-bar {
	background-color: #CE1725;
}
.category-bar2 {
	background-color: #FFC543;
}

.category-bar3 {
	background-color: #0098FF;
}

.category-bar4 {
	background-color: #119111;
}

.category-bar5 {
	background-color: #053ea3;
}

.mini-social-row {
	display: inline-flex;
    float: right;
    justify-content: end;
	gap: 10px;
	position: relative;
	top: 3px;
	margin-right: 2px;
}

.fa-twitter , .fa-instagram {
	cursor: pointer;
}

.fa-twitter:hover , .fa-instagram:hover {
     color: black;
}

.top-right-instagram:hover, .top-right-twitter:hover {
	color: red;
}

.first-container {
	display: flex;
	flex-direction: column;
	gap: .5rem;
	max-width: 100%;
}

.placeholder1 {
	width: 100%;
}

.placeholder1:hover {
	opacity: .8;
}


.article-title {
	color: black;
	
}

.title-link, .title-link2,.title-link3,
.title-link4, .title-link5 {
	text-decoration: none;
	color: black;
	font-size: 1.7em;
	font-weight: 600;
}

.title-link:hover {
	color: #CE1725;
}
.title-link2:hover {
	color: #FFC543;
}
.title-link3:hover {
	color: #0098FF;
}
.title-link4:hover {
	color: #119111;
}
.title-link5:hover {
	color: #053ea3;
}

.author-page {
	text-decoration: none;
	color: black;
}

@media screen and (max-width: 768px) {
    .category-bar, .category-bar2, .category-bar3,  .category-bar4,
.category-bar5{
	width: 80vh;
}
}

@media screen and (max-width: 1503.20px) and (min-width: 768px) {
	.articles-container{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
	}
	
}
@media screen and (max-width: 1386px) and (min-width: 768px) {
	.articles-container{
		display: grid;
		grid-template-columns: 1fr 1fr ;
		gap: 1rem;
	}
	
}
@media screen and (max-width: 907px) and (min-width: 768px) {
	.articles-container{
		display: grid;
		grid-template-columns: 1fr;
		gap: 1rem;
	}
	.category-bar, .category-bar2, .category-bar3,  .category-bar4,
.category-bar5{
	width: 90vh;
}
   
}

@media screen and (max-width: 671px) {
	.category-bar, .category-bar2, .category-bar3,  .category-bar4,
.category-bar5{
	width: 100%;
}
   
}
@media screen and (max-width: 360px) {
	.category-bar, .category-bar2, .category-bar3,  .category-bar4,
.category-bar5{
	width: 100%;
}
   
}

@media screen and (max-width: 1600px) {
	.first-container{
		display: flex;
		flex-direction: column;
		gap: .5rem;
		max-width: 400px;
	}
	
	.placeholder1{
		width: 100%;
	}
   
}
